{% extends 'base.html' %}

{% block title %}תשלום{% endblock %}

{% block content %}


    <div class="site-section mt-5">
      <div class="container">
          <div class='rtl-center'>
            <h2 class ="rtl-center"> לבחירתך שתי אפשרויות לביצוע תשלום והשלמת ההזמנה</h2>
            <br>
                <h4 class = "rtl-center">תשלום עם PayPal</h4>
                    {{ form.render }}
                    <hr>
                <a class="px-3 py-2 btn-primary rtl" href="/">השאר פרטים ואנו נחזור אליך טלפונית להשלמת ההזמנה</a>
            </div>
          </div>
      </div>
{% endblock %}
