<form method='POST' action='{% url "carts:update" %}' class="form rtl"> {% csrf_token %}
    <input type='hidden' name='product_id' value='{{ product.id }}' />

    {% if in_cart %}
        <button type='submit' class='btn btn-link btn-sm' name='remove' style="padding:0px;cursor: pointer;">להסיר?</button>
    {% else %}
        <div class='input-group mb-3' style='max-width: 200px;'>

             {% if quantity %}

             <div class='input-group-append'>
                 <button class='btn btn-outline-primary js-btn-minus' type='button'>&minus;</button>
             </div>


                 <input type='text' name='number' class='form-control text-center border mr-0' value='{{quantity}}' placeholder=''
                 aria-label='Example text with button addon' aria-describedby='button-addon1'>


                 <div class='input-group-prepend'>
                     <button class='btn btn-outline-primary js-btn-plus' type='button'>&plus;</button>
                 </div>
             {% else %}
               <div class='input-group-append'>
                   <button class='btn btn-outline-primary js-btn-minus' type='button'>&minus;</button>
               </div>

                 <input type='text' name='number' class='form-control text-center border mr-0' value='1' placeholder=''
                 aria-label='Example text with button addon' aria-describedby='button-addon1'>

                 <div class='input-group-prepend'>
                     <button class='btn btn-outline-primary js-btn-plus' type='button'>&plus;</button>
                 </div>
             {% endif %}

         </div>
        {% if product in cart.products.all %}
        <div class ="row rtl">
          <button type='submit'  class='px-3 py-2 btn-primary'>עדכון כמות</button>
        </div>
        <br>
        <!-- <div class="font-montserrat">  המוצר בעגלה </div> -->


        <p class='lead rtl'>המוצר בעגלה<button type='submit' class='btn btn-link rtl' name='remove'>תרצה להסיר?</button></p>

        {% else %}
            <button type='submit'  class='px-3 py-2 btn-primary'>הוסף לעגלה</button>
        {% endif %}
    {% endif %}
</form>
