{% extends 'base.html' %}

{% load static %}


{% block content %}

<br>

<div class="site-section py-5 custom-border-bottom" data-aos="fade">
    <div class="container">

      <p class='lead rtl'>ברוך הבא לאתר הסבים שותים!</p>
      <p class='lead rtl'>כבר רשום לאתר?<a href="{% url 'login_page' %}" class=""> להתחברות לחץ כאן</a></p>

      <form method='POST' class = "rtl">
        <div class="row rtl">
          {% csrf_token %}
            <div class="col-md-6 form-group">
                {{form}}
                <input type="submit" value="הרשם" class="btn btn-primary py-3 px-5 btndir center">
          </div>
        </div>
      </form>
    </div>
</div>


<!-- <form method='POST'>
{% csrf_token %}
  {{ form }}
</form> -->

{% endblock %}
