{% extends 'base.html' %}

{% load static %}


{% block content %}
    <div class="hero-2" style="background-image: url({% static 'images/cellar-with-wine-bottles.jpg'%})";>
     <div class="container">
        <div class="row justify-content-center text-center align-items-center">
          <div class="col-md-8">
            <h2>תנאי שימוש</h2>
            <!-- <span class="sub-title">הסבים שותים מציעה מגוון יינות ומשקאות אלכוהולים איכותים במחירים אטרקטיבים</span> -->
          </div>
        </div>
      </div>
    </div>

    <div class="site-section py-5 custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">

            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-12">

              <p class = "rtl">
                תקנון
                <br>
                השימוש באתר האינטרנט של הסבים שותים כפוף לקריאת תקנון זה ולהסכמה להוראותיו. בכל מקרה של שאלה או אי בהירות אנו עומדים לרשותכם ככל שידרש.
              </p>

              <p class = "rtl">

                כללי
                <br>
                האתר הנו חלק מתוך מרתף הסבים שותים ברח' ורד 316 צור הדסה, ע.פ. 056424120
                כל המשתמש ו/או המבצע ו/או המעוניין לבצע פעולה באתר (להלן: "רוכש") מצהיר ומתחייב, כי קרא את התקנון, כי הינו מודע ומסכים להוראותיו וכי לא תהא לו ו/או למי מטעמו כל טענה ו/או דרישה ו/או תביעה, במישרין ו/או בעקיפין, כנגד החברה ו/או בעליה ו/או האתר ו/או מפעיליו ו/או מי מטעמם.
                למען הסר ספק מובהר כי פעולה באתר משמעה: "רכישת ואספקת המשקאות המוצעים למכירה באתר על כל הכרוך בכך".
              </p>

              <p class = "rtl" style = "font-weight: bold">
                יובהר, כי רכישה של משקאות אלכוהוליים מותרת אך ורק לרוכש שגילו מעל 18 שנים.
                באתר מופיעה האזהרה: "אזהרה: צריכה מופרזת של אלכוהול מסכנת חיים ומזיקה לבריאות!".
              </p>

              <p class = "rtl">
                האמור בתקנון זה ובאתר כולו מתייחס באופן שווה לבני שני המינים, והשימוש בלשון זכר הוא מטעמי נוחות בלבד. כותרות התקנון נקבעו לצרכי נוחיות בלבד ולא תשמשנה כראיה כלשהי ולא יהיה בנוסחן ובתוכנן כדי לחייב את החנות ו/או כדי לשמש ראיה ותימוכין לפרשנות התקנון.

                החנות והאתר שומרים לעצמם את הזכות לשנות את התקנון מפעם לפעם, עפ"י שיקול דעתם הבלעדי, וזאת ללא צורך במתן התראה ו/או הודעה מוקדמת כלשהי. לרוכש לא תהיינה, במישרין ו/או בעקיפין, כל טענות ו/או דרישות כלפי החברה ו/או האתר ו/או מי מטעמם בגין שינוי כאמור. מועד החלת השינוי יהיה מועד פרסום נוסח התקנון המעודכן באתר לראשונה, וכל פעולה שתבוצע באתר לאחר הפרסום כאמור, תהיה כפופה לתקנון המעודכן.

                מכיוון ש"טעות לעולם חוזרת", טעות כלשהי ובכלל זה טעות סופר בתיאור המשקאות לא תחייב את החנות, וזאת בין אם הטעות התגלתה לפני אישור ההזמנה או אחריה.

                תמונות המשקאות באתר מוצגות לצורכי המחשה בלבד. בנוסף, ייתכנו הבדלים במראה, בגוון, בגודל וכדומה, בין המשקאות, כפי שהם מוצגים באתר, לבין המשקאות במציאות.

                בכל מקרה של סתירה ו/או דו-משמעות בין הוראות התקנון לבין הרשום ו/או המוצג באתר, יגברו הוראות התקנון. כמו כן, בכל מקרה של סתירה ו/או דו-משמעות בין הוראות התקנון לבין עצמן, תקבע החנות כיצד יש לפעול ואיזוהי ההוראה העדיפה או הגוברת.

                המידע הקיים ברישומי החנות לרבות לעניין מועדים וסכומים, הוא המידע הקובע לכל דבר ועניין.
              </p>

              <p class = "rtl" style = "font-weight: bold">

                בכל שאלה לגבי השימוש באתר ורכישות באתר ניתן לפנות לטלפון 054-4874898
              </p>

              <p class = "rtl">
                הזמנתו של רוכש לרכישת המשקאות ולאספקתם תתקבל בתנאי שנתמלאו כל התנאים הבאים:
              <p>
                <ol class = "rtl">
                  <li>הרוכש הינו תושב ישראל שגילו למעלה מ-18 שנים, אינו פסול דין ובעת קבלת המשלוח הציג תעודה מזהה כדין המאמתת זאת.</li>
                  <li>התקבל אישור לכתובת הדוא"ל של הרוכש כי ההזמנה התקבלה, טופלה, ותישלח לכתובת שבטופס הזמנה.</li>
                  <li>ניתן אישור לביצוע העסקה מחברת האשראי.</li>
                  <li>המשקאות שהוזמנו קיימים במלאי.</li>
                </ol>

                <p class = "rtl">

                הכתובת אליה התבקשה אספקת המשקאות נמצאת ברשימת אזורי החלוקה כהגדרתה להלן,

                בעת ביצוע ההזמנה באתר יידרש הרוכש למסור את הפרטים הבאים: ת.ז./ח.פ., שם פרטי ושם משפחה, תאריך לידה, מס' טלפון, כתובת, דוא"ל ואופן התשלום.

                רוכש באתר יוכל להוסיף לסל הקניות כל פריט לאחר שהתרשם ממנו וממחירו. הרוכש יוכל להוסיף ולגרוע פרטים מסל הקניות בכל עת וכן לשנות כמויות. בסיום ההזמנה יש להיכנס לקופה לצורך סגירת הזמנה ושליחתה לחברה.

                קבלת הזמנה מאת הרוכש לרכישת משקאות תהווה הצעה של הרוכש לרכישתם וקבלת ההצעה תתבצע באמצעות שליחת דוא"ל על ידי החברה המאשר את ביצוע ההזמנה ושליחת המשקאות לכתובת הרוכש, והכול בהתאם להוראות תקנון זה.

                במקרה שנמצא, כי המשקאות שהוזמנו על ידי הרוכש אינם במלאי, יודעו לרוכש באמצעות שיחה טלפונית כי המשקאות אינם מצויים במלאי. במקרה כזה, יוכל הרוכש לבחור משקאות חלופיים או לקבל את כספו בחזרה, על פי בחירת הרוכש.

                סכום מינימלי להזמנה באתרl הוא 75 ש"ח.

                רכישה באתר על ידי "משתמש רשום"

                כל רוכש יכול להירשם כמשתמש רשום באתר, ללא עלות. הרישום ייעשה באמצעות הזנת פרטים מזהים, לרבות: שם, שם משפחה, מספר ת.ז., תאריך לידה וכדומה. ובסופו יקבל הרוכש שם משתמש וסיסמא (להלן: "משתמש רשום"). משתמש רשום יהיה זכאי לקבל מידע מהחברה ו/או מהאתר על הנחות, מבצעים וכדומה. משתמש רשום רשאי, בכל עת, להודיע לחברה על רצונו לבטל את הרישום. האחריות לשמירת שם המשתמש והסיסמא בסודיות חלה על המשתמש הרשום ולא תהיה לו כל טענה ו/או דרישה ו/או תביעה כלפי החנות בנושא זה.

                פרטיו האישיים של משתמש רשום יישמרו באתר, כך שמשתמש רשום לא יידרש להזין את פרטיו האישיים מחדש בכל הזמנה.

                המחירים באתר כוללים מע"מ, אלא אם כן צוין אחרת במפורש.
                <br>

                במקרה שחברת כרטיסי האשראי לא תכבד את החיוב, לא תאשר החברה לרוכש, באמצעות הדוא"ל, את ביצוע ההזמנה. במידה וההזמנה אושרה, חרף אי כיבוד החיוב, תהיה החברה רשאית לבטלה והודעה תישלח לרוכש באמצעות הדואר האלקטרוני.

                בעת ביצוע הזמנה למשקאות המתפרסמים באתר, יידרש הרוכש להזין במערכת פרטים כגון: פרטיו האישיים, פרטי ההזמנה, פרטי כרטיס האשראי וכדומה (להלן: "המידע"). החנות והאתר ו/או מי ממפעיליו ו/או מי מטעמם לא יהיו אחראים לטעות הנעשית על ידי הרוכש בעת הקלדת הפרטים. כמו כן, הנ"ל לא יהיו אחראים במישרין או בעקיפין באחריות כלשהי למקרה שבו פרטי הרכישה לא ייקלטו במערכת ו/או לכל בעיה טכנית ו/או אחרת המונעת ביצוע פעולות באתר או המבצעת אותם באופן שגוי.

                עם ביצוע הרכישה באתר נותן הרוכש את הסכמתו שפרטיו האישים (כגון: שם, מספר ת.ז., כתובת דוא"ל וכדומה), יישמרו במאגרי המידע של החברה, והכול בהתאם להוראות הדין.

                פרטי הפעולה באתר, לרבות פרטי ההזמנה ופרטי הרוכש, יועברו באמצעות פרוטוקול אבטחה מוצפן (SSL) המקובל בסחר אלקטרוני. פרטים אלו לא יועברו על ידי החברה ומפעילי האתר לגורמים חיצוניים, למעט לחברת הסליקה וכרטיסי האשראי, וזאת על מנת להשלים את פעולות הרכישה שבוצעה על ידי הרוכש ובכפוף להוראות כל דין. כמו כן, החברה לא תעשה כל שימוש בפרטים של אמצעי התשלום של הרוכש אלא לביצוע תשלום בגין עסקה ופרטים אלו לא יועברו לאף גורם אחר זולת לצורך זה, למעט בכפוף להוראות כל דין.

                כאמור לעיל, החברה לא תעביר את פרטיו האישיים של הרוכש לגורם חיצוני לחברה, למעט אם תידרש לכך על ידי רשות מוסמכת מרשויות המדינה, או מכח צו שיפוטי, בהתאם להוראות כל דין.

                על אף האמור לעיל, החנות תהא רשאית להעביר פרטיו האישיים של רוכש לצד שלישי במקרים בהם: הרוכש ביצע מעשה או מחדל הפוגעים ו/או העלולים לפגוע בחברה ו/או בצדדים שלישיים כלשהם, הרוכש עשה שימוש בשירותי החנות לביצוע מעשה בלתי חוקי, התקבל בידי החברה צו שיפוטי המורה לה למסור את פרטי הרוכש לצד שלישי, בכל מחלוקת או הליכים משפטיים, וכדומה.

                עם ביצוע רכישה באתר מצהיר הרוכש כי הוא יודע שהקלדת פרטים כוזבים הינה עבירה פלילית וכי נגד מוסרי פרטים כוזבים עלולים להינקט צעדים משפטיים, לרבות תביעות נזיקין בגין נזקים שעלולים להיגרם לאתר ו/או לבעלי האתר ו/או למי מפעיליו ו/או למי ממנהליו ו/או למי מטעמם.

                החנות תהא רשאית להשתמש בפרטיו האישיים של הרוכש, ללא זיהוי הרוכש הספציפי, לצורך ניתוח מידע סטטיסטי והצגתו ו/או מסירתו לגורמים אחרים וזאת ללא צורך בקבלת הסכמתו.

                הרוכש מצהיר כי הוא מודע לכך שמאחר שמדובר בביצוע פעולות בסביבה מקוונת אין באפשרותה של החנות להבטיח חסינות מוחלטת מפני חדירות למחשביה או חשיפת המידע השמור. אם יעלה בידי צד שלישי לחדור למידע אשר שמור בידי החברה ו/או להשתמש בו לרעה, לא תהיה לרוכש, במישרין או בעקיפין, כל טענה ו/או דרישה ו/או תביעה עקב כך כלפי החברה ו/או מי מטעמה.

                החנות תהא רשאית לעשות שימוש ב- "עוגיות" (“cookies”) על מנת לספק לרוכש שירות מהיר ויעיל ולחסוך מהרוכש את הצורך להזין את פרטיו האישיים בכל כניסה לאתר.

                         פרטי כרטיס האשראי של הרוכש לא ישמרו במאגרי המידע של החברה.

              <br>
                דמי משלוח- בנוסף למחירי המשקאות המפורטים באתר יחויב הרוכש באתר בדמי משלוח בסכום התלוי בסוג ומקום המשלוח. החברה תהא רשאית, אך לא חייבת, שלא לחייב את הרוכש בדמי משלוח, על פי שיקול דעתה הבלעדי ולרוכש לא תהיה טענה ו/או דרישה בנושא זה. לחברה הזכות הבלעדית לשנות מעת לעת את מחירי המשלוח, ללא מתן הודעה מוקדמת מראש.

                אספקת המשקאות שנרכשו באתר אפשרית רק כאשר הכתובת המבוקשת נמצאת בתוך אזור החלוקה, וכל עוד אין מניעה טכנית ו/או אחרת המונעת את אספקת המשקאות.

                מבלי לגרוע מהאמור לעיל, בכל מקרה שהחברה סבורה, על פי שיקול דעתה הבלעדי, שמתבצע ניצול לרעה של שירותיה ו/או של הזמנת מוצריה יכולה החברה להחליט שלא לספק משקאות לרוכש ולרוכש לא תהיה כל טענה ו/או דרישה ו/או תביעה בקשר לכך.

                זמני אספקה- כל עוד לא נקבע על ידי החברה אחרת, זמני האספקה הינם בימים ראשון עד חמישי.

                מרגע אישור ההזמנה באמצעות הדוא"ל כמפורט לעיל, יקבל הרוכש את המשלוח תוך כ-3 ימי עבודה (זמני האספקה עלולים להשתנות בהתאם לאזור המגורים). ימי עבודה אינם כוללים ימי שישי, שבת, ערבי חגים וחגים וימי שבתון. מועדי האספקה כפופים לעיכובים שאינם תלויים בחנות ולאירועי "כח עליון" כהגדרתו להלן.

                המשלוח יימסר לרוכש או למקבל ההזמנה בכתובת בה נקב הרוכש בהזמנה בלבד, בכפוף להצגת תעודה מזהה כדין על ידי מקבל ההזמנה ולהיותו מעל גיל 18 שנים.

                במקרה והרוכש לא יהיה נוכח בעת האספקה בכתובת המבוקשת, יוחזרו המשקאות לחנות ומועד חלופי לאספקה יתואם עם הרוכש. במידה ובמועד החדש שתואם עם הרוכש, לא יהיה הרוכש נוכח בעת האספקה בכתובת המבוקשת, יוחזרו המשקאות לחנות ותיאום מועד חלופי לאספקה יהיה באחריות הרוכש על ידי התקשרות לחנות ותיאום מועד אספקה חדש. במקרה כזה יחויב הרוכש בדמי משלוח נוספים על פי התעריפים הנהוגים בנות ולרוכש לא תהיה טענה ו/או דרישה בנושא זה. החנות תהא רשאית, אך לא חייבת, שלא לחייב את הרוכש בדמי משלוח, על פי שיקול דעתה הבלעדי.

                לחנות הזכות הבלעדית לשנות מעת לעת את חברת השליחויות ו/או להשתמש במקביל בשירותיה של חברה אחרת, ללא מתן הודעה מוקדמת מראש.

                על הרוכש לבדוק את תכולת המשלוח עם קבלתו, ולערוך השוואה הן להזמנה והן לחשבונית שנשלחה לו בעת הרכישה.

                למעט בגין סוגי משקאות שיפורטו להלן ולמעט בגין משקאות שנרכשו במסגרת מבצע, הרוכש יהיה רשאי לבטל את ההזמנה בתוך 14 ימי עסקים ממועד ביצוע ההזמנה, בכפוף להחזרת המשקאות כשהם סגורים ובאריזתם המקורית כשזו לא נפתחה ו/או לא נפגמה, וכי לא נעשה בהם כל שימוש ולא נגרם להם כל נזק וכן בכפוף להצגת חשבונית המעידה על עצם ביצוע ההזמנה או הוכחה אחרת לגבי עצם ביצוע העסקה, מועדה, הסכום ששולם בעדה ואמצעי התשלום.

                על אף האמור לעיל, הזמנת יין לסוגיו, בירה או שתייה קלה אינם ניתנים לביטול או החזרה. מוצר הנרכש כחבילה (במידה ונחשב כמוצר הניתן להחזיר, ראו ערך הנ"ל) יוחזר כחבילה ואין להחזיר מוצרים בודדים המרכיבים את החבילה.

                במידה וביטול או החזרת ההזמנה אינו עקב פגם או אי התאמה, ולאחר 14 ימי עסקים מביצוע ההזמנה, תהיה החנות זכאית לגבות מהרוכש דמי ביטול/החזרה בשיעור של 7% ממחיר ההזמנה וכן כל תשלום שנגבה מהחנות ע"י חברת האשראי בגין סליקת כרטיס האשראי של הרוכש. כמו כן, במקרה שביטול או החזרת ההזמנה נעשה לאחר שההזמנה כבר סופקה באמצעות משלוח, תהא החנות רשאית לגבות מהרוכש את דמי המשלוח החלים לפי העניין.

                         שינוי הזמנה על ידי הרוכש יהיה כפוף להסכמת החברה על פי שיקול דעתה הבלעדי. שינוי, ביטול או החזרת ההזמנה יתבצעו באמצעות הטלפון בלבד.

                  החנות תהא רשאית על פי שיקול דעתה הבלעדי לבטל הזמנה, וזאת מכל סיבה שהיא, ללא צורך בהנמקה או הודעה מראש, וזאת אף אם המשתמש כבר קיבל הודעת דוא"ל על אישור הרכישה. הודעה על ביטול הרכישה או בקשה להחזרה לאחר קבלת אישור בדוא"ל תימסר לרוכש באמצעות הטלפון, ולא תהיה  לו כל טענה ו/או תביעה ו/או דרישה כלפי החנות בגין ביטול העסקה על ידה. הרוכש לא יהיה זכאי לכל פיצוי מהחנות בגין הביטול ו/או השינוי כאמור.

                         במקרה של ביטול ההזמנה על ידי החברה, יזוכה הרוכש בתשלום סכום ההזמנה, ובמקרה של שינוי שאושר על ידי החנות, יחויב או יזוכה הרוכש, בהתאמה, בהתאם להזמנה ששונתה.

                החנות תהא רשאית לחזור בה מקיום חוזה רכישה שבין הרוכש לבין החנות, וזאת בהינתן הודעה לרוכש, עקב טעות קולמוס או שגיאה טכנית אחרת.

                מבלי לגרוע מהאמור לעיל, במידה וגורמים ו/או אירועים שאינם בשליטת החנות ו/או בעלי האתר ו/או מפעיליו יעכבו ו/או ימנעו את מתן השירות ו/או את מכירת המשקאות ו/או אספקתם ו/או משלוחם ו/או הובלתם, באופן מלא או חלקי, ובדרך כלשהיא ו/או במועדים שנקבעו, ו/או אם יקרו תקלות במחשוב ו/או מערכות הטלפון ו/או כל גורם תקשורת אחר בהשלמת תהליך הרכישה, ו/או אם בשל פעולות איבה ו/או שביתה ו/או השבתה ו/או גיוס מילואים בהיקף מיוחד ו/או פגעי מזג אוויר ו/או כל גורם אחר שהינו בגדר כוח עליון ימנע ו/או יתעכב ו/או ייפגע תהליך רכישת המשקאות, משלוחם, הובלתם, אספקתם ומכירתם, רשאית החנות להודיע על ביטול הרכישה, כולה או מקצתה או על עיכוב באספקתה ולרוכש לא תהיה כל טענה, תביעה, או דרישה עקב כך (להלן: "כח עליון").

              <br>
                אחריות למשקאות הנמכרים באתר:
              <br>
                האחריות לטיב המשקאות המוצעים לרכישה באתר חלה על היצרנים של המשקאות.

                הנתונים המופיעים על המשקאות הם נתונים של יצרני המשקאות ובאחריותם הבלעדית.

              <br>
                הגבלת אחריות:

                האחריות הבלעדית למשקאות, לטיבם, איכותם ולכל מידע או מצג שנעשה באתר בכל הנוגע למהותם, טיבם ואיכותם, לרבות שמות היצרנים, טיב המשקאות, תכונותיהם, תמונותיהם, מידע ביחס אליהם וכדומה, חלה על יצרני המשקאות בלבד.

                החנות ו/או האתר אינם אחראים לכל נזק, מכל מין וסוג , ישיר או עקיף, שייגרם, במישרין או בעקיפין, לרוכש ו/או לצד ג' כלשהו כתוצאה מרכישת, אספקת והובלת המשקאות וצריכתם ובכלל זה לא תהיה לחברה כל אחריות בקשר עם האירועים שלהלן, אשר בהתקיים מי  מהם תהא החברה רשאית להודיע על ביטול הרכישה, כולה או מקצתה:

                רכישה המתבצעת באתר שתיגרם כתוצאה ממעשה ו/או ממחדל ו/או מרשלנות ו/או זדון של הרוכש ו/או צד שלישי כלשהו, לרבות, רכישה המתבצעת באמצעות כרטיס אשראי ללא הסכמת בעליו, רכישה המתבצעת על ידי קטין ו/או פסול דין ללא הסכמת אפוטרופסו, פעולה שתבוצע באתר על ידי צד שלישי כלשהו שייכנס לאתר ויגרום נזק, פעולה שתבוצע על ידי צד שלישי כלשהו תוך שימוש בסיסמת הרוכש באתר וכדומה.

                מעשה ו/או מחדל שאיננו בשליטת החנות, לרבות אך לא רק – מחמת כח עליון.

                משקאות שיירכשו באתר ואשר צד שלישי שהינו היצרן שלהם סיפק אותם לחברה, והכל בכפוף לאחריות החלה, אם חלה, על פי כל דין.

                תקלה בתקשורת שתנבע ממעשה ו/או ממחדל ו/או מרשלנות של צד שלישי כלשהו.

                מבלי לפגוע בכל האמור לעיל, בכל מקרה לא תישא החברה בסכום נזק העולה על התמורה ששולמה בפועל על המשקאות שהוזמנו על ידי הרוכש.  בקיום מקרים שאינם בשליטתה של החברה ו/או הנובעים מכח עליון, החברה לא תהא אחראית לכל נזק מכל סוג שהוא, עקיף או ישיר, שייגרם לרוכש ו/או למי מטעמו.

                כל העושה שימוש בלתי ראוי באתר מתחייב לשפות ולפצות את החברה ו/או בעלי האתר ו/או מקימיו ו/או מי ממפעיליו ו/או מי ממנהליו ו/או מי מטעמם בגין כל תביעה ו/או הוצאה ו/או נזקים מכל מין וסוג כלשהם כולל הוצאות משפטיות, אשר ייגרמו לחברה /או לבעלי האתר ו/או למקימיו ו/או מי ממפעיליו ו/או מי ממנהליו ו/או מי מטעמם וזאת מיד עם דרישתם הראשונה.
              <br>
                בעלות ושמירה על זכויות

                האתר מכיל תכנים שונים המוגנים ע"י זכויות יוצרים, סימנים מסחריים וזכויות קניין אחרות, לרבות טקסט, תמונות, גרפיקה וכדומה, אשר חלקם בבעלות החברה וחלקם בבעלות אחרים. רוכש ו/או כל צד ג' המבצע פעולות באתר אינו רשאי לשנות, לפרסם, לשדר או להעביר, ולהשתמש באתר או בחלק ממנו לשם יצירת יצירה אחרת או לנצל את האתר, ו/או את תוכנו של האתר, כולו או חלקו למטרה כלשהי, למעט המטרה, שלשמה נוצר האתר.

                השם "הסבים שותים", הינו בבעלות מלאה ובלעדית, ואין בעצם הכניסה לאתר כדי להעניק רישיון ו/או זכות כלשהם בהם.

                האתר ותכולתו נועדו אך ורק למטרות מכירת המשקאות המוצעים למכירה במסגרתו. אין להעתיק, לשכפל, להפיץ, למכור ו/או להציג חומר הכלול באתר אלא אם ניתנה רשות לכך מראש ובכתב מהחברה.

                אין להעתיק ולהשתמש ו/או לאפשר לאחרים להשתמש, בכל דרך בתכנים מתוך האתר, לרבות באתרי אינטרנט אחרים בפרסומים אלקטרוניים, בפרסומי דפוס וכדומה.


              <br>
                הדין החל על תקנון זה ו/או על כל פעולה ו/או על סכסוך הנובע ממנו, הוא הדין הישראלי בלבד.
              <br>
                כל מחלוקת מכל מין וסוג בין גולש ו/או רוכש באתר לבין החברה ו/או האתר בשל פעילות ו/או סוגיה מכל מין וסוג הנובעים ו/או הקשורים לחברה ו/או לאתר תתברר בישראל, בבית המשפט המוסמך לכך בעיר ירושלים בלבד, שלו נתונה הסמכות הבלעדית לדון בה.
              </p>

          </div>
        </div>
      </div>
    </div>


{% endblock %}
